.nav {
    grid-area: n;
    background: red;
    padding: 15px;
    
    }

.item a{
    text-decoration: none;
}    

/* .active  {
    color: white;
} */

.inactive {
    color: black;
}

.active {
    color: white;
}